.rsc-bot {
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.rsc-bot-image-container {
  display: inline-block;
  order: 0;
  padding: 6px;
}

  
.rsc-bot-image {
  -webkit-animation: Lmuha 0.3s ease forwards;
  animation: Lmuha 0.3s ease forwards;
  border-radius: 50% 50% 0 50%;
  box-shadow: rgba(0,0,0,0.15) 0px 1px 2px 0px;
  height: 40px;
  min-width: 40px;
  padding: 3px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}

.rsc-bot-bubble {
  -webkit-animation: Lmuha 0.3s ease forwards;
  animation: Lmuha 0.3s ease forwards;
  background: #6E48AA;
  border-radius: 18px 18px 18px 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  max-width: 50%;
  margin: 0 0 10px 0;
  overflow: hidden;
  position: relative;
  padding: 12px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}