.rsc-container {
  background: #f5f8fb;
  border-radius: 10px;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.15);
  font-family: monospace;
  overflow: hidden;
  position: relative;
  z-index: 999;
  transform: scale(1);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
  height: 800px;
  width: 600px;
}

.rsc-header {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #6e48aa;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  fill: #fff;
  height: 56px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10px;
}

.rsc-header-title{
  margin: 0;
  font-size: 16px;
}

.rsc-content {
  height: calc(800px - 120px);
  overflow-y: scroll;
  margin-top: 2px;
  padding-top: 6px;
}

.rsc-footer {
  position: relative;
}

.rsc-input {
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #eee;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 16px;
  opacity: 1;
  outline: none;
  padding: 16px 52px 16px 10px;
  width: 100%;
}

.rsc-submit-button {
  background-color: transparent;
  border: 0;
  border-bottom-right-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  fill: #4a4a4a;
  opacity: 1;
  outline: none;
  padding: 14px 16px 12px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.rsc-submit-button:before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.rsc-attachment {
  cursor: pointer;
  fill: #4a4a4a;
  opacity: 1;
  position: absolute;
  right: 53px;
  font-size: 26px;
  top: 9px;
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes lmuha {
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


@keyframes Lmuha{
  100%{
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
  }
}